body {
  background-color: rgba(0, 0, 0, 0.09);
  font-family: avenir;
  width: 90%;
  margin: 25px auto;
  line-height: 1.4em;
}

section {
  margin: 25px 0;
}

img {
  max-width: 100%;
}

p {
  color: rgba(0, 0, 0, 0.71);
  margin: 10px 0;
}

.samenvatting {
position: relative;
top: -2em;
font-size: 1em;
color: rgba(0, 0, 0, 0.71);
}

.time {
  position: relative;
  top: -3.1em;
  background-color: rgb(3, 101, 136);
  color: white;
  width: 156px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

h2 {
  margin: 10px 0;
  font-weight: 450;
}

h3 a{
  color: rgb(3, 101, 136);
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

h4{
  font-weight: bold;
}

a{
  text-decoration: none;
}

h1 {
  line-height: 1.5;
  color: rgb(3, 101, 136);
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 15px;
}

h3 {
  margin-top: 20px;
  display: inline;
}

h5 {
  margin-top: 20px;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 5px 5px 5px 5px;
  background-color: rgb(3, 101, 136);
}

nav {
  margin: 25px 0;
  border-radius: 20px;
}

nav a {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 5px 5px 5px 5px;
  background-color: rgb(3, 101, 136);
}

hr {
    height: 2px;
    background-color: rgb(3, 101, 136);
}

.lees {
  position: relative;
  top: -2.2em;
  font-weight: 500;
  color: rgb(3, 101, 136);
}
